<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="posts">
        <h3> Post ID: <%= post.id %></h3>
    <h2 class="user">Post by @<%= post.username %></h2>
    <p class="content"><%= post.content %></p>
    </div>
</body>
</html>